<!DOCTYPE html>
<html>
  <head>
    <title>BitWell: A Wishing Well on Lighnting Nework (testnet)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Penny.png'), :rel => 'icon', :type =>  'image/png' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
